<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>
    <link rel="stylesheet" href="/stylesheets/contactUs.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%- include('../templates/head.ejs') %>
</head>

<body>
    <%- include('../templates/employerDashboardSidebar.ejs') %>
    <%- include('../templates/dashboardHeader.ejs') %>
    <main id="main">
        <section class="my-3 py-3 px-md-5">
            <div class="col-12 px-5">
                <div>
                    <p class="f-20">Contact Us</p>
                </div>
                <form id="employerDashboardContactUs" action="" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">First name</label>
                            <input type="text" value="" class="form-control" id="firstName" placeholder="John">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Last name</label>
                            <input type="text" value="" class="form-control" id="lastName" placeholder="Doe">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="email" value="" class="form-control" id="email"
                                placeholder="username@domain.com">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="formGroupExampleInput">Subject</label>
                            <input type="text" value="" class="form-control" id="contactSubject"
                                placeholder="Your subject">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="exampleFormControlTextarea1">Message</label>
                            <textarea style="resize:none;" value="" class="form-control" id="contactMessage"
                                placeholder="Your Message" rows="5"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn col-12 col-lg-2 col-md-3 purple white mt-3 mr-5">Send Message</button>
                    <button type="submit" class="btn col-12 col-lg-3 col-md-4 purple white mt-3 ">Check ticket status</button>
                </form>
            </div>
        </section>
    </main>


</body>

</html>