<head>
  <%- include('../templates/head')%>
  <link rel="stylesheet" href="/stylesheets/employer-dashboard.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>Dashboard</title>
</head>

<body>

  <%- include('../templates/employerDashboardSidebar.ejs') %>
  <%- include('../templates/dashboardHeader.ejs') %>
  
    <main id="main">
      <div class="container-fluid">
      <div class="container wrap mx-auto row">
      <!-- <div class="row"> -->
        <div class="col-md-4">
          <p>Contacted Interns</p>
          <div class="card">
            <a class="view-talents" href="#">
            <div class="line1"></div>
            <div class="line2"></div>
          </a>
            <div class="text">No one contacted yet Click to view talented cadidates</div>
          </div>
        </div>

        <div class="col-md-4">
          <p>Recommended Interns</p>
          <div class="card">
            <div class="overflow-auto">
              <div class="card-content">
                <div class="employee">
                  <img src="https://i.imgur.com/GVbfcRD.jpeg">
                  <div class="employee-details">
                    <p class="employee-name">Orefejo Adepeju</p>
                    <div class="employee-track">Frontend Development</div>
                    <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                    <!-- <div class="employee-border"></div> -->
                  </div>
                </div>
                <div class="employee">

                  <img src="https://i.imgur.com/GVbfcRD.jpeg">
                  <div class="employee-details">
                    <p class="employee-name">Orefejo Adepeju</p>
                    <div class="employee-track">Frontend Development</div>
                    <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="employee">
                  <img src="https://i.imgur.com/GVbfcRD.jpeg">
                  <div class="employee-details">
                    <p class="employee-name">Orefejo Adepeju</p>
                    <div class="employee-track">Frontend Development</div>
                    <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="employee">
                  <img src="https://i.imgur.com/GVbfcRD.jpeg">
                  <div class="employee-details">
                    <p class="employee-name">Orefejo Adepeju</p>
                    <div class="employee-track">Frontend Development</div>
                    <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- col-lg-4 col-md-4 col-sm-12 col-xs-12 -->
          <p>Team Members</p>
          <div class="card">
            <a class="addTeam-member" href="#">
            <div class="line1"></div>
            <div class="line2"></div>
          </a>
            <div class="text">No team members Click to add a team member</div>
          </div>
        </div>
      <!-- </div> -->
      <div class="bottom">
        <div class="row">
          <!-- <p>My Employees</p> -->
          <div class="col border">

            <canvas id="chart-line" style="height: 250; width: 250;"></canvas>
          </div>



          <div class="col">
            <div class="card">
              <div class="overflow-auto">
                <div class="card-content">

                  <div class="employee">
                    <img src="https://i.imgur.com/GVbfcRD.jpeg">
                    <div class="employee-details">
                      <p class="employee-name">Orefejo Adepeju</p>
                      <div class="employee-track">Frontend Development</div>
                      <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                    </div>
                  </div>

                  <div class="employee">
                    <img src="https://i.imgur.com/GVbfcRD.jpeg">
                    <div class="employee-details">
                      <p class="employee-name">Orefejo Adepeju</p>
                      <div class="employee-track">Frontend Development</div>
                      <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                    </div>

                    <div class="employee">
                      <img src="https://i.imgur.com/GVbfcRD.jpeg">
                      <div class="employee-details">
                        <p class="employee-name">Orefejo Adepeju</p>
                        <div class="employee-track">Frontend Development</div>
                        <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="card-footer">
                      <text>
                        See all candidates  <i class="fa fa-arrow-right" id="right-arrow" aria-hidden="true"></i>
                      </text>
                    </div> -->
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
    </main>
 
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
  <script>
    $(document).ready(function () {
      var ctx = $("#chart-line");
      var myLineChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["Frontend Developers", "Designers", "Quality Assurance", "Mobile Developers",
            "Product Managers"
          ],
          datasets: [{
            data: [6, 5, 5, 3, 10],
            backgroundColor: ["#FADB3C", "#36D5F8", "#872DCE", "#4DCE2D", "#FF2F2F"]
          }]
        },
        options: {
          maintainAspectRatio: false,
          title: {
            display: true,
            text: 'My Employees'
          }
        }
      });
    });
  </script>



  </html>
