<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Talent Haven | Privacy Settings</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

    <!-- Boiler Plate CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">


    <!-- Dashboard CSS -->
    <link rel="stylesheet" href="/stylesheets/dashboardSidenav.css">
    <link rel="stylesheet" href="/stylesheets/dashboardHeader.css">
    <link rel="stylesheet" href="/stylesheets/employer-dashboard-privacy-settings.css">

</head>
<body>

    <%- include('../templates/dashboardHeader.ejs') %>
    <%- include('../templates/employerDashboardSidebar .ejs') %>

    <section class="dashboard-settings-container-pt">



    </section>

    <!-- Bootstrap JS -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.js"></script>

    <!-- Dashboard JS -->
    <script src="/javascripts/dashboardNav.js"></script>
    <script src="/javascripts/dashboardSideNav.js"></script>
</body>
</html>
