<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Talent Haven | Privacy Settings</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

    <!-- Boiler Plate CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">


    <!-- Dashboard CSS -->
    <link rel="stylesheet" href="/stylesheets/dashboardSidenav.css">
    <link rel="stylesheet" href="/stylesheets/dashboardHeader.css">
    <link rel="stylesheet" href="/stylesheets/employer-dashboard-privacy-settings.css">

</head>
<body>

    <%- include('../templates/employerDashboardSidebar .ejs') %>
    <%- include('../templates/dashboardHeader.ejs') %>

    <section class="dashboard-settings-container-pt">

        <section class="dashboard-settings-main-pt">

            <div class="container row">

                <%- include('../templates/employerDashboardPrivacyTabs.ejs', { tabRoute: 'privacy'})%>

                <div class="col-md-9 col-12 privacy-settings">
                    <h3>
                        Privacy Settings
                    </h3>

                    <div class="options">
                        <table class="table animate__animated animate__fadeInUp animate__delay-1s">
                            <tbody>
                                <tr>
                                    <td class="content animate__animated animate__fadeInUp animate__delay-3s">
                                        <span>
                                            Recieve messages from everyone
                                        </span>
                                        <span>
                                            Checking this will enable individuals to send you messages
                                        </span>
                                    </td>

                                    <td class="align-middle action animate__animated animate__fadeInUp animate__delay-3s">
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="customControlInline1">
                                            <label class="custom-control-label" for="customControlInline1"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content animate__animated animate__fadeInUp animate__delay-3s">
                                        <span>
                                            Share my location to everyone
                                        </span>
                                        <span>
                                            Checking this will enable individuals to see your location
                                        </span>
                                    </td>

                                    <td class="align-middle action animate__animated animate__fadeInUp animate__delay-3s">
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input type="checkbox" checked class="custom-control-input" id="customControlInline">
                                            <label class="custom-control-label" for="customControlInline"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content animate__animated animate__fadeInUp animate__delay-4s">
                                        <span>
                                            Show read reciepts
                                        </span>
                                        <span>
                                            Checking this will disable read reciepts for everyone including you
                                        </span>
                                    </td>

                                    <td class="align-middle action animate__animated animate__fadeInUp animate__delay-4s">
                                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                            <input type="checkbox" class="custom-control-input" id="customControlInline2">
                                            <label class="custom-control-label" for="customControlInline2"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                <td class="content animate__animated animate__fadeInUp animate__delay-4s">
                                    <span>
                                        Protect my portfolio
                                    </span>
                                    <span>
                                        Checking this will allow only potential employers to see your portfolio
                                    </span>
                                </td>

                                <td class="align-middle action animate__animated animate__fadeInUp animate__delay-4s">
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        <input type="checkbox" checked class="custom-control-input" id="customControlInline3">
                                        <label class="custom-control-label" for="customControlInline3"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td class="animate__animated animate__pulse animate__delay-5s">
                                        <div class="btn">Save Changes</div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </section>

    </section>

    <!-- Bootstrap JS -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.js"></script>

    <!-- Dashboard JS -->
    <script src="/javascripts/dashboardNav.js"></script>
    <script src="/javascripts/dashboardSideNav.js"></script>
</body>
</html>
