<head>
  <%- include('../templates/dashboardHead')%>
  <link rel="stylesheet" href="/stylesheets/employer-dashboard.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>Dashboard</title>
</head>

<body>

  <%- include('../templates/employerDashboardSidebar.ejs') %>
  <%- include('../templates/dashboardHeader.ejs') %>

  <main id="main">
    <div id="employerDashboard" class="container">
      <div class="row">
        <div class="col-12 col-md-4 mb-5 mb-md-0">
          <h5 class="dashboard-header">Contacted Interns</h5>
          <div class="card">

            <!-- If card is empty -->
            <div class="empty-card d-flex flex-column align-items-center justify-content-center">
              <a class="mb-4" href="#">
                <img src="/images/employer-dashboard/add.svg" alt="">
              </a>
              <p class="empty-card-text">No one contacted yet. Click to view talented cadidates</p>
            </div>
            <!-- End -->

          </div>
        </div>

        <div class="col-12 col-md-4 mb-5 mb-md-0">
          <h5 class="dashboard-header">Recommended Interns</h5>
          <div class="card">

            <ul class="list-group list-group-flush card-list">
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">UI/UX Designer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Frontend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Backend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">UI/UX Designer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Frontend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Backend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>

            </ul>

            <div class="see-all d-flex justify-content-center align-items-center">
              <span class="see-all-text">See all candidates </span>
              <a href="#" class="col-2 btn">
                <img src="/images/employer-dashboard/view-arrow.svg" alt="">
              </a>
            </div>

          </div>
        </div>



        <div class="col-12 col-md-4 mb-5 mb-md-0">
          <h5 class="dashboard-header">Team Members</h5>
          <div class="card">

            <!-- If card is empty -->
            <div class="empty-card d-flex flex-column align-items-center justify-content-center">
              <a class="mb-4" href="#">
                <img src="/images/employer-dashboard/add.svg" alt="">
              </a>
              <p class="empty-card-text">No team members. Click to add a team member</p>
            </div>
            <!-- End -->

          </div>
        </div>
      </div>

      <h5 class="dashboard-header mt-2">Your Employees</h5>
      <div class="row">
        <div class="col-12 col-md-6 mb-5 mb-md-0">
          <div class="card">

            <!-- <div class="col"> -->
              <canvas id="chart-line"></canvas>
            <!-- </div> -->

          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="card">

            <ul class="list-group list-group-flush card-list">
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">UI/UX Designer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Frontend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Backend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">UI/UX Designer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Frontend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row d-flex align-items-center">
                  <div class="d-flex col-10">
                    <div class="d-flex flex-column justify-content-center mr-3">
                      <img src="/images/Tobi.jpg" alt="" class="d-sm-flex img-fluid" style="width: 40px;
                                height: 40px; border-radius: 25px">
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start">
                      <span class="card-user-name">Eureka</span>
                      <span class="card-user-title">Backend Developer</span>
                    </div>
                  </div>
                  <a href="#" class="d-flex justify-content-end col-2 btn">
                    <img src="/images/employer-dashboard/view-arrow.svg" alt="">
                  </a>
                </div>
              </div>

            </ul>

            <div class="see-all d-flex justify-content-center align-items-center">
              <span class="see-all-text">See all employees</span>
              <a href="#" class="col-2 btn">
                <img src="/images/employer-dashboard/view-arrow.svg" alt="">
              </a>
            </div>

          </div>
        </div>


      </div>
  </main>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
  <script>
    $(document).ready(function () {
      var ctx = $("#chart-line");
      var myLineChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["Frontend Developers", "Designers", "Quality Assurance", "Mobile Developers",
            "Product Managers"
          ],
          datasets: [{
            data: [6, 5, 5, 3, 10],
            backgroundColor: ["#FADB3C", "#36D5F8", "#872DCE", "#4DCE2D", "#FF2F2F"]
          }]
        },
        options: {
          maintainAspectRatio: false,
          title: {
            display: true,
            text: ''
          }
        }
      });
    });
  </script>



  </html>