<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <%- include('../templates/head.ejs') %>
</head>
<body>
    <%- include('../templates/employeeDashboardSidebar.ejs') %>
    <%- include('../templates/dashboardHeader.ejs') %>


</body>
</html>