<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/dashboardHead.ejs') %>
    <link rel="stylesheet" href="/stylesheets/employeeProfile.css" />

</head>

<body>
    <%- include('../templates/employeeDashboardSidebar.ejs') %>
    <%- include('../templates/dashboardHeader.ejs') %>

    <main id="main">
        <div class="container my-5 profile-img-bar">
            <div class="profile-img-div">
                <img class="profile-img" src="/images/profile-img.svg" alt="">
            </div>
        </div>
    </main>
</body>

</html>