<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../templates/dashboardHead')%>

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/employeeDashboard.css">

  <title>Dashboard</title>
</head>

<body>
  <%- include('../templates/employeeDashboardSidebar.ejs') %>
  <%- include('../templates/dashboardHeader.ejs') %>
  <main id="main">
    <section id="employeeDashboard">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="card card1 d-flex justify-content-center align-items-center">
              <div class="card-container d-flex flex-column justify-content-center align-items-center">
                <p class="card-text">Your Profile was viewed</p>
                <span class="card-text2 mb-2">48 time(s)</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="card card1 d-flex justify-content-center align-items-center">
              <div class="card-container d-flex flex-column justify-content-center align-items-center">
                <p class="card-text">You are currently</p>
                <span class="card-text2 mb-2">Available To Work</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="card card1 d-flex justify-content-center align-items-center">
              <div class="card-container d-flex flex-column justify-content-center align-items-center">
                <p class="card-text">You have</p>
                <span class="card-text2 mb-2">No team yet</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 col-md-8 mb-4 mb-md-0">
            <div class="row">
              <div class="col-12 d-flex align-items-center">
                <span class="dashboard-title mr-auto">Your Portfolio</span>
                <a href="#" class="dashboard-link">View all -></a>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 col-md-6 mb-4">
                <div class="card card2">
                  <span class="portfolio-title pb-2">TalentPool</span>
                  <span class="portfolio-desc pb-3">This is the description of TalentPool. Lorem ipsum dolor sit
                    amet.</span>
                  <a href="#" class="portfolio-link">Portfolio Link</a>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <div class="card card2">
                  <span class="portfolio-title pb-2">TalentPool</span>
                  <span class="portfolio-desc pb-3">This is the description of TalentPool. Lorem ipsum dolor sit
                    amet.</span>
                  <a href="#" class="portfolio-link">Portfolio Link</a>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <div class="card card2">
                  <span class="portfolio-title pb-2">TalentPool</span>
                  <span class="portfolio-desc pb-3">This is the description of TalentPool. Lorem ipsum dolor sit
                    amet.</span>
                  <a href="#" class="portfolio-link">Portfolio Link</a>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <div class="card card2">
                  <span class="portfolio-title pb-2">TalentPool</span>
                  <span class="portfolio-desc pb-3">This is the description of TalentPool. Lorem ipsum dolor sit
                    amet.</span>
                  <a href="#" class="portfolio-link">Portfolio Link</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="row">
              <div class="col-12 d-flex justify-content-between align-items-center">
                <span class="dashboard-title">Skill Set</span>
                <a href="#"><img src="/images/employee-dashboard/pencil-edit.svg" alt=""></a>
              </div>
            </div>

            <div class="card card3 mt-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span class="card-skill">Angular</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Git</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Adobe XD</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Brand Strategy</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="75"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Analytical Thinking</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Figma</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Angular</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Git</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Adobe XD</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Brand Strategy</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="75"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Analytical Thinking</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
                <li class="list-group-item">
                  <span class="card-skill">Figma</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
    </section>
  </main>
</body>

</html>