<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Talent Haven | Landing Page</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('./templates/externalPageHead.ejs') %>

    <!--arrow color-->
    <style>
        .swiper-button-next:after, .swiper-button-prev:after {
            color: rgba(4, 23, 42, 0.3);
        }
        .landing-page-top-previous-clients .feedback-card-outer {
            width: 100%;
            padding: 44px 14px;
            display: inline-block;
        }
        .swiper-slide {
            /* text-align: center; */
            /* font-size: 18px; */
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
            left: -4px;
            right: auto;
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
            right: -4px;
            left: auto;
        }
    </style>
</head>

<body onresize="swiperContainerSize()" onload="swiperContainerSize()">

    <%- include('./templates/navBar.ejs') %>

    <section class="landing-page-top">

        <!--<div class="blob-on-sign-in">-->
        <!--<img class="left-blob" src="/images/signin-top-right-blob1.svg" alt="">-->
        <!--</div>-->

        <div class="top-section-description">

            <div class="row pt-5 description-container">
                <div class="col-md-6 col-12 left">

                    <h1 class="animate__animated animate__slideInLeft">
                        Find <span>the perfect fit</span> <br>
                        for your company.
                    </h1>

                    <div class="what-we-do animate__animated animate__slideInLeft">
                        We connect companies <wbr>
                        with top talents <wbr>
                        perfect for your <br>
                        tech needs.
                    </div>

                    <div class="input-group sign-up-out animate__animated animate__zoomIn animate__delay-1s">
                        <input type="text" class="form-control" placeholder="Enter your email">
                        <span class="input-group-text">
                            Sign Up
                        </span>
                    </div>

                </div>

                <div class="col-md-6 col-12 right">

                    <div class="row talents-card-outer animate__animated animate__zoomIn">
                        <div class="col-md-9 offset-md-2">

                            <div class="row talents-card">
                                <div class="col-xl-3 col-sm-4 col-4 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-xl-9 col-sm-8 col-8 talents-details">
                                    <span class="name">
                                        Vishnu Chandan Kolaparthi
                                    </span>
                                    <span class="track">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row talents-card-outer animate__animated animate__zoomIn animate__delay-1s">
                        <div class="col-md-9">

                            <div class="row talents-card">
                                <div class="col-xl-3 col-sm-4 col-4 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-xl-9 col-sm-8 col-8 talents-details">
                                    <span class="name">
                                        Vishnu Chandan Kolaparthi
                                    </span>
                                    <span class="track">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row talents-card-outer animate__animated animate__zoomIn animate__delay-2s">
                        <div class="col-md-9 offset-md-3">

                            <div class="row talents-card">
                                <div class="col-xl-3 col-sm-4 col-4 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-xl-9 col-sm-8 col-8 talents-details">
                                    <span class="name">
                                        Vishnu Chandan Kolaparthi
                                    </span>
                                    <span class="track">
                                        UI/UX Designer
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <span class="blob-footer-top">
            </span>

        </div>


        <div class="top-section-footer">

            <img class="left-blob" src="/images/landing-top-left-blob.svg" alt="">

            <div class="trusted-companies">

                <div class="row">
                    <span class="col-sm-3 title">
                        Trusted by top companies
                    </span>

                    <span class="col-sm-9 company-logo">
                        <img src="/images/trusted-companies.svg" alt="">
                    </span>
                </div>

            </div>

        </div>
    </section>

    <section class="landing-page-top-previous-clients">

        <h2 class="title add__animate animate__animated">
            Hear from our previous clients
        </h2>

        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card">

                        <h4>"Exceptional candidates"</h4>

                        <div class="content">
                            Recruiting through TalentPool has been a breath of fresh air.
                            The quality of candidates have been exceptional compared to
                            other job sites.
                        </div>

                        <hr>

                        <div class="row footer">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                                <span class="track">
                                    John Doe
                                </span>
                                <span class="name">
                                    HR at Google
                                </span>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card">

                        <h4>"Easy to navigate website"</h4>

                        <div class="content">
                            The site is easy to navigate. The competent
                            employees ensure a company's vision is being
                            executed through their dedication and hard work.
                        </div>

                        <hr>

                        <div class="row footer">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                                <span class="track">
                                    Meredith Grey
                                </span>
                                <span class="name">
                                    HR at Facebook
                                </span>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card">

                        <h4>"Seamless process"</h4>

                        <div class="content">
                            I have throughly enjoyed my
                            experience with TalentPool. The process is seamless,
                            their client representatives are really friendly.
                        </div>

                        <hr>

                        <div class="row footer">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                                <span class="track">
                                    Richard Webber
                                </span>
                                <span class="name">
                                    CEO of Flutterwave
                                </span>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card">

                        <h4>"Exceptional candidates"</h4>

                        <div class="content">
                            Recruiting through TalentPool has been a breath of fresh air.
                            The quality of candidates have been exceptional compared to
                            other job sites.
                        </div>

                        <hr>

                        <div class="row footer">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                            <span class="track">
                                John Doe
                            </span>
                                <span class="name">
                                HR at Google
                            </span>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                        <div class="feedback-card">
    
                            <h4>"Exceptional candidates"</h4>
    
                            <div class="content">
                                Recruiting through TalentPool has been a breath of fresh air.
                                The quality of candidates have been exceptional compared to
                                other job sites.
                            </div>
    
                            <hr>
    
                            <div class="row footer">
                                <div class="col-xl-3 col-4 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-xl-9 col-8 talents-details">
    
                                <span class="track">
                                    John Doe
                                </span>
                                    <span class="name">
                                    HR at Google
                                </span>
    
                                </div>
                            </div>
    
                        </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <br>
        <br>
        <br>

        <h2 class="title add__animate animate__animated">
            Meet our talented candidates
        </h2>

        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card talent-fb-card">

                        <div class="row header">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                            <span class="track">
                                John Doe
                            </span>
                                <span class="name">
                                HR at Google
                            </span>

                            </div>
                        </div>

                        <hr>

                        <div class="content talent-profile">
                            I am a Product/UX Designer
                            with 6 years of experience crafting digital
                            products helping businesses expand their
                            capacity for impact.
                            <span class="recent-work">
                                Previously worked at Google
                            </span>
                        </div>

                        <div class="view-profile-footer">
                            <span>
                                View Profile <i></i>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card talent-fb-card">

                        <div class="row header">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                                <span class="track">
                                    John Doe
                                </span>
                                <span class="name">
                                    HR at Google
                                </span>

                            </div>
                        </div>

                        <hr>

                        <div class="content talent-profile">
                            I am a Product/UX Designer
                            with 6 years of experience crafting digital
                            products helping businesses expand their
                            capacity for impact.
                            <span class="recent-work">
                                Previously worked at Google
                            </span>
                        </div>

                        <div class="view-profile-footer">
                            <span>
                                View Profile <i></i>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card talent-fb-card">

                        <div class="row header">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                                <span class="track">
                                    John Doe
                                </span>
                                <span class="name">
                                    HR at Google
                                </span>

                            </div>
                        </div>

                        <hr>

                        <div class="content talent-profile">
                            I am a Product/UX Designer
                            with 6 years of experience crafting digital
                            products helping businesses expand their
                            capacity for impact.
                            <span class="recent-work">
                                Previously worked at Google
                            </span>
                        </div>

                        <div class="view-profile-footer">
                            <span>
                                View Profile <i></i>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                    <div class="feedback-card talent-fb-card">

                        <div class="row header">
                            <div class="col-xl-3 col-4 blob-outer">
                                <div class="blob-inner"></div>
                            </div>
                            <div class="col-xl-9 col-8 talents-details">

                                <span class="track">
                                    John Doe
                                </span>
                                <span class="name">
                                    HR at Google
                                </span>

                            </div>
                        </div>

                        <hr>

                        <div class="content talent-profile">
                            I am a Product/UX Designer
                            with 6 years of experience crafting digital
                            products helping businesses expand their
                            capacity for impact.
                            <span class="recent-work">
                                Previously worked at Google
                            </span>
                        </div>

                        <div class="view-profile-footer">
                            <span>
                                View Profile <i></i>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide feedback-card-outer add__animate animate__animated">
                        <div class="feedback-card talent-fb-card">
    
                            <div class="row header">
                                <div class="col-xl-3 col-4 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-xl-9 col-8 talents-details">
    
                                    <span class="track">
                                        John Doe
                                    </span>
                                    <span class="name">
                                        HR at Google
                                    </span>
    
                                </div>
                            </div>
    
                            <hr>
    
                            <div class="content talent-profile">
                                I am a Product/UX Designer
                                with 6 years of experience crafting digital
                                products helping businesses expand their
                                capacity for impact.
                                <span class="recent-work">
                                    Previously worked at Google
                                </span>
                            </div>
    
                            <div class="view-profile-footer">
                                <span>
                                    View Profile <i></i>
                                </span>
                            </div>
    
                        </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </section>

    <section class="the-process-flow">
        <br>

        <div class="top-section-footer">

            <div class="flow-st">

                <div class="row">
                    <div class="col-sm-4 col-12">
                        <img class="blob-count" src="/images/icon-1.svg" alt="">
                        <div class="process-content">
                            Create an account
                        </div>
                    </div>

                    <hr class="left">

                    <div class="col-sm-4 col-12">
                        <img class="blob-count" src="/images/icon-2.svg" alt="">
                        <div class="process-content" style="padding-top: 18px">
                            Browse list of talented candidates
                        </div>
                    </div>

                    <hr class="right">

                    <div class="col-sm-4 col-12">
                        <img class="blob-count" src="/images/icon-3.svg" alt="">
                        <div class="process-content">
                            Hire the best fit
                        </div>
                    </div>
                </div>

            </div>

            <img class="left-blob" src="/images/landing-top-right-blob.svg" alt="">

        </div>
    </section>
    <!--Pidoxy's-->

    <section>
        <div>
            <div class="container px-5 ">
                <p class="f-40 py-3 dark">Find the best in all fields</p>
                <div class="row my-3 d-flex justify-content-around">
                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card add__animate animate__animated animate__lightSpeedInLeft zoom h-100 py-4">
                            <img src="/images/UIUX-icon.svg" alt="UI UX designer icon">
                            <div class="card-body">
                                <h5 class="card-title ">UI/UX Designers</h5>
                                <p class="card-text">Create an amazing virtual space for your company with highly
                                    experienced in UI/UX Design and characterized by a deep interest for users'
                                    needs.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card add__animate animate__animated animate__flipInY zoom h-100 py-4">
                            <img src="/images/FE-icon.svg" alt="frontend developer icon">
                            <div class="card-body">
                                <h5 class="card-title">Frontend Developers</h5>
                                <p class="card-text">Versatile and always eager to tackle new problems with an
                                    innate ability to collaborate with designers to bring products to life.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card add__animate animate__animated animate__lightSpeedInRight zoom h-100 py-4">
                            <img src="/images/BE-icon.svg" alt="backend developer icon">
                            <div class="card-body">
                                <h5 class="card-title">Backend Developers</h5>
                                <p class="card-text"> Our seasoned experts are well known for seamless integration
                                    of Backend development technology with working experience in agile teams.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center  mb-4 mb-lg-5">
                        <div class="card add__animate animate__animated animate__fadeInLeft zoom h-100 py-4">
                            <img src="/images/MOB-icon.svg" alt="mobile developer icon">
                            <div class="card-body">
                                <h5 class="card-title">Mobile Developers</h5>
                                <p class="card-text"> Mobile app developers possessing superior analytical skills
                                    with a good problem-solving attitude.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card add__animate animate__animated animate__fadeInUp zoom h-100 py-4">
                            <img src="/images/PM-icon.svg" alt="project manager icon">
                            <div class="card-body">
                                <h5 class="card-title">Product Managers</h5>
                                <p class="card-text"> Hire effective product managers that are experienced in a
                                    KPI-driven digital environment like content manag- ement & social media
                                    management.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card add__animate animate__animated animate__fadeInRight zoom h-100 py-4">
                            <img src="/images/DEVops-icon.svg" alt="DevOps icon">
                            <div class="card-body">
                                <h5 class="card-title">DevOp Specialists</h5>
                                <p class="card-text"> Professional Operations specialists capable of leading teams
                                    from the front; setting high standards to follow.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="my-5">
        <div class="container px-5">
            <p class="f-40 add__animate animate__animated animate__flip dark">Why choose Talent Haven?</p>
            <div class="row">
                <div class="col-md-4 my-3 ">
                    <div class="card add__animate animate__animated animate__jello zoom h-100">
                        <img class="icons" src="/images/icon-1.svg" alt="icon">
                        <div class="card-body">
                            <p class="card-text pb-2 pt-4">We analyze the skills needed by professionals in each
                                space to determine what you need.</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 my-3">
                    <div class="card add__animate animate__animated animate__jello zoom h-100">
                        <img class="icons" src="/images/icon-2.svg" alt="icon">
                        <div class="card-body">
                            <p class="card-text  pb-2 pt-4">We regularly train our experts to keep them current on
                                present technological needs.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-3">
                    <div class="card add__animate animate__animated animate__jello zoom h-100">
                        <img class="icons" src="/images/icon-3.svg" alt="icon">
                        <div class="card-body">
                            <p class="card-text pb-2 pt-4">We scrutinize our process so we can offer you the best
                                services across various fields.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ready-section py-5 my-5">
        <img class="bg-rec d-none d-md-block" src="/images/ready-rec.svg" alt="an image for beauty">
        <div class="container px-5">
            <p
                class="ready-text col-md-6 col-12 d-inline-block f-40 animate__animated animate__bounceIn manrope-font dark">
                Ready to get started?</p>
            <button
                class="mb-3 col-12 col-md-2 mr-md-1 btn ml-md-5 add__animate animate__animated animate__animate__slideInLeft f-24 text-center purple white">
                Get hired
                -></button>
            <button
                class="mb-3 col col-md-3 btn add__animate animate__animated animate__animate__slideInRight f-24 text-center purple white">
                Hire top talent -></button>
        </div>
        </div>
    </section>
    <section>
        <div class="container px-5 my-5">
            <p class="f-40 dark add__animate animate__animated animate__zoomIn">From our blog</p>
            <div class="row">
                <div class="col-md-4 my-3 ">
                    <div class="card">
                        <img src="/images/blog-img.svg" class="card-img-top" alt="blog image">
                        <div class="card-body">
                            <p class="card-title f-12 dark">John Doe</p>
                            <h5 class="card-title f-20 dark">How to build a design system</h5>
                            <p class="card-text pb-3 f-16 dark">Lorem ipsum dolor sit amet, consect etur adipiscing
                                elit.
                                Etiam
                                mollis nulla eu sapien commodo dictum. Duis co nsequat felis quis consectetur
                                aliquet.</p>
                        </div>
                        <button
                            class="btn blog-btn f-16 add__animate animate__animated animate__animate__flipInX text-center purple white">
                            Read more -></button>
                    </div>

                </div>

                <div class="col-md-4 my-3">
                    <div class="card">
                        <img src="/images/blog-img.svg" class="card-img-top" alt="blog image">
                        <div class="card-body">
                            <p class="card-title f-12 dark">John Doe</p>
                            <h5 class="card-title f-20 dark">How to build a design system</h5>
                            <p class="card-text pb-3 f-16 dark">Lorem ipsum dolor sit amet, consect etur adipiscing
                                elit.
                                Etiam
                                mollis nulla eu sapien commodo dictum. Duis co nsequat felis quis consectetur
                                aliquet.</p>
                        </div>
                        <button
                            class="btn blog-btn f-16 add__animate animate__animated animate__animate__flipInX text-center purple white">
                            Read more -></button>
                    </div>

                </div>
                <div class="col-md-4 my-3">
                    <div class="card">
                        <img src="/images/blog-img.svg" class="card-img-top" alt="blog image">
                        <div class="card-body">
                            <p class="card-title f-12 dark">John Doe</p>
                            <h5 class="card-title f-20 dark">How to build a design system</h5>
                            <p class="card-text pb-3 f-16 dark">Lorem ipsum dolor sit amet, consect etur adipiscing
                                elit.
                                Etiam
                                mollis nulla eu sapien commodo dictum. Duis co nsequat felis quis consectetur
                                aliquet.</p>
                        </div>
                        <button
                            class="btn blog-btn f-16 text-center add__animate animate__animated animate__animate__flipInX purple white">
                            Read more -></button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>-->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/landing-page.js"></script>

    <!-- Initialize Swiper -->
    <script>
        const swiperContainerSize = () => {

            let size = 3;

            if (window.innerWidth > 840) {
                size = 3;
                setSwiper(3);
            }
            if ((window.innerWidth > 651) && (window.innerWidth < 840)) {
                size = 2;
                setSwiper(2);
            }
            if (window.innerWidth < 650) {
                size = 1;
                setSwiper(1);
            }
            
            if (window.outerWidth > 840) {
                setSwiper(3);
            }
        };
        const setSwiper = (size) => {
            const swiper = new Swiper('.swiper-container', {
                slidesPerView: size,
                spaceBetween: 20,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                autoplay: {
                    delay: 6000,
                },
            });
        }
    </script>

    <%- include('./templates/footer.ejs') %>
</body>

</html>