<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./templates/head.ejs') %>


    <section>
        <div>
            <div class="container">
                <p class="f-40 py-3 dark">Find the best in all fields</p>
                <div class="row my-3 d-flex justify-content-around">
                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card h-100 py-4">
                            <img src="/images/UIUX-icon.svg" alt="UI UX designer icon">
                            <div class="card-body">
                                <h5 class="card-title">UI/UX Designers</h5>
                                <p class="card-text">Create an amazing virtual space for your company with highly
                                    experienced in UI/UX Design and characterized by a deep interest for users'
                                    needs.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card h-100 py-4">
                            <img src="/images/FE-icon.svg" alt="frontend developer icon">
                            <div class="card-body">
                                <h5 class="card-title">Frontend Developers</h5>
                                <p class="card-text">Versatile and always eager to tackle new problems with an
                                    innate ability to collaborate with designers to bring products to life.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card h-100 py-4">
                            <img src="/images/BE-icon.svg" alt="backend developer icon">
                            <div class="card-body">
                                <h5 class="card-title">Backend Developers</h5>
                                <p class="card-text"> Our seasoned experts are well known for seamless integration
                                    of Backend development technology with working experience in agile teams.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center  mb-4 mb-lg-5">
                        <div class="card h-100 py-4">
                            <img src="/images/MOB-icon.svg" alt="mobile developer icon">
                            <div class="card-body">
                                <h5 class="card-title">Mobile Developers</h5>
                                <p class="card-text"> Mobile app developers possessing superior analytical skills
                                    with a good problem-solving attitude.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card h-100 py-4">
                            <img src="/images/PM-icon.svg" alt="project manager icon">
                            <div class="card-body">
                                <h5 class="card-title">Product Managers</h5>
                                <p class="card-text"> Hire effective product managers that are experienced in a
                                    KPI-driven digital environment like content manag- ement & social media
                                    management.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4  text-center mb-4 mb-lg-5">
                        <div class="card h-100 py-4">
                            <img src="/images/DEVops-icon.svg" alt="DevOps icon">
                            <div class="card-body">
                                <h5 class="card-title">DevOp Specialists</h5>
                                <p class="card-text"> Professional Operations specialists capable of leading teams
                                    from the front; setting high standards to follow.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="my-5">
        <div class="container">
            <p class="f-40 dark">Why choose Talent Haven?</p>
            <div class="row">
                <div class="col-md-4 my-3 ">
                    <div class="card h-100">
                        <img class="icons" src="/images/icon-1.svg" alt="icon">
                        <div class="card-body">
                            <p class="card-text pb-2 pt-4">We analyze the skills needed by professionals in each
                                space to determine what you need.</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 my-3">
                    <div class="card h-100">
                        <img class="icons" src="/images/icon-2.svg" alt="icon">
                        <div class="card-body">
                            <p class="card-text  pb-2 pt-4">We regularly train our experts to keep them current on
                                present technological needs.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-3">
                    <div class="card h-100">
                        <img class="icons" src="/images/icon-3.svg" alt="icon">
                        <div class="card-body">
                            <p class="card-text pb-2 pt-4">We scrutinize our process so we can offer you the best
                                services across various fields.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ready-section py-5 my-5">
        <img class="bg-rec d-none d-md-block" src="/images/ready-rec.svg" alt="an image for beauty">
        <div class="container ">
            <p class="ready-text col-md-6 col-12 d-inline-block f-40 manrope-font dark">Ready to get started?</p>
            <button class="mb-3 col-12 col-md-2 mr-md-1 btn ml-md-5  f-24 text-center purple white"> Get hired
                -></button>
            <button class="mb-3 col col-md-3 btn  f-24 text-center purple white"> Hire top talent -></button>
        </div>
        </div>
    </section>
    <section>
        <div class="container my-5">
            <p class="f-40 dark">From our blog</p>
            <div class="row">
                <div class="col-md-4 my-3 ">
                    <div class="card">
                        <img src="/images/blog-img.svg" class="card-img-top" alt="blog image">
                        <div class="card-body">
                            <p class="card-title f-12 dark">John Doe</p>
                            <h5 class="card-title f-20 dark">How to build a design system</h5>
                            <p class="card-text pb-3 f-16 dark">Lorem ipsum dolor sit amet, consect etur adipiscing
                                elit.
                                Etiam
                                mollis nulla eu sapien commodo dictum. Duis co nsequat felis quis consectetur
                                aliquet.</p>
                        </div>
                        <button class="btn blog-btn f-16 text-center purple white"> Read more -></button>
                    </div>

                </div>

                <div class="col-md-4 my-3">
                    <div class="card">
                        <img src="/images/blog-img.svg" class="card-img-top" alt="blog image">
                        <div class="card-body">
                            <p class="card-title f-12 dark">John Doe</p>
                            <h5 class="card-title f-20 dark">How to build a design system</h5>
                            <p class="card-text pb-3 f-16 dark">Lorem ipsum dolor sit amet, consect etur adipiscing
                                elit.
                                Etiam
                                mollis nulla eu sapien commodo dictum. Duis co nsequat felis quis consectetur
                                aliquet.</p>
                        </div>
                        <button class="btn blog-btn f-16 text-center purple white"> Read more -></button>
                    </div>

                </div>
                <div class="col-md-4 my-3">
                    <div class="card">
                        <img src="/images/blog-img.svg" class="card-img-top" alt="blog image">
                        <div class="card-body">
                            <p class="card-title f-12 dark">John Doe</p>
                            <h5 class="card-title f-20 dark">How to build a design system</h5>
                            <p class="card-text pb-3 f-16 dark">Lorem ipsum dolor sit amet, consect etur adipiscing
                                elit.
                                Etiam
                                mollis nulla eu sapien commodo dictum. Duis co nsequat felis quis consectetur
                                aliquet.</p>
                        </div>
                        <button class="btn blog-btn f-16 text-center purple white"> Read more -></button>
                    </div>

                </div>
            </div>

        </div>
    </section>


    <%- include('./templates/footer.ejs') %>

    <script src="/public/javascripts/bootstrap.js"></script>
    <script src="/public/javascripts/jquery.js"></script>
    <script src="/public/javascripts/popper.js"></script>
</body>

</html>