<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/talentpool-landing-page.css' />
</head>
<body>

    <section class="landing-page-top">

        <nav class="navbar fixed-top">
            <a class="navbar-brand" href="#">
                Header here
            </a>
        </nav>

        <div class="top-section-description">

            <div class="row pt-5 description-container">
                <div class="col-md-6 col-12 left">

                    <h1>
                        Find <span>the perfect fit</span> <br>
                        for your company.
                    </h1>

                    <div class="what-we-do">
                        We connect companies <wbr>
                        with top talents <wbr>
                        perfect for your <br>
                        tech needs.
                    </div>

                    <div class="input-group sign-up-out">
                        <input
                                type="text" class="form-control"
                                placeholder="Enter your email"
                        >
                        <span class="input-group-text">
                            Sign Up
                        </span>
                    </div>

                </div>

                <div class="col-md-6 col-12 right">

                    <div class="row talents-card-outer">
                        <div class="col-md-9 offset-md-2">

                            <div class="row talents-card">
                                <div class="col-3 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-9 talents-details">
                            <span class="name">
                                Vishnu Chandan Kolaparthi
                            </span>
                                    <span class="track">
                                UI/UX Designer
                            </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row talents-card-outer">
                        <div class="col-md-9">

                            <div class="row talents-card">
                                <div class="col-3 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-9 talents-details">
                            <span class="name">
                                Vishnu Chandan Kolaparthi
                            </span>
                                    <span class="track">
                                UI/UX Designer
                            </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row talents-card-outer">
                        <div class="col-md-9 offset-md-3">

                            <div class="row talents-card">
                                <div class="col-3 blob-outer">
                                    <div class="blob-inner"></div>
                                </div>
                                <div class="col-9 talents-details">
                            <span class="name">
                                Vishnu Chandan Kolaparthi
                            </span>
                                    <span class="track">
                                UI/UX Designer
                            </span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="top-section-footer">

            <div class="trusted-companies">

                <span class="title">
                    Trusted by top companies
                </span>

                <span class="company-logo">
                </span>
            </div>

        </div>
    </section>

</body>
</html>

