<aside>
    <div id="sidebar">

        <img class="closeNavBtn btn" style="width: 36%; height: auto;" onclick="closeNav()"
            src="/images/sidebar/back.png" alt="">

        <div class="row d-flex flex-column">
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg class="spacing" width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M24.5459 24.5459C22.4476 26.6443 19.8343 27.9059 17.1134 28.3346L17.3468 29.8163C15.7926 30.0612 14.2074 30.0612 12.6532 29.8163L12.8866 28.3346C10.1657 27.9059 7.55245 26.6443 5.45406 24.5459C3.35567 22.4476 2.09407 19.8343 1.66537 17.1134L0.183653 17.3468C-0.0612174 15.7926 -0.0612175 14.2074 0.183652 12.6532L1.66537 12.8866C2.09407 10.1657 3.35567 7.55245 5.45406 5.45406C7.55245 3.35567 10.1657 2.09407 12.8866 1.66537L12.6532 0.183653C14.2074 -0.0612175 15.7926 -0.0612176 17.3468 0.183653L17.1134 1.66537C19.8343 2.09407 22.4476 3.35567 24.5459 5.45406C26.6443 7.55245 27.9059 10.1657 28.3346 12.8866L29.8163 12.6532C30.0612 14.2074 30.0612 15.7926 29.8163 17.3468L28.3346 17.1134C27.9059 19.8343 26.6443 22.4476 24.5459 24.5459Z"
                            stroke="#04172A" stroke-width="3" stroke-dasharray="32 8" />
                    </svg>
                    <p>Dashboard</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg style="position: relative;" class="spacing" width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M24.8995 24.8995C19.4322 30.3668 10.5678 30.3668 5.1005 24.8995C-0.366835 19.4322 -0.366835 10.5678 5.1005 5.1005C10.5678 -0.366835 19.4322 -0.366835 24.8995 5.10051C30.3668 10.5678 30.3668 19.4322 24.8995 24.8995Z"
                            stroke="#04172A" stroke-width="2" />
                        <svg x="22%" y="30%" width="17" height="13" viewBox="0 0 17 13" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.5 6.5L6 11L15.5 1.5" stroke="#04172A" stroke-width="2" />
                        </svg>
                    </svg>
                    <p>Verification</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg class="spacing" width="30" height="24" viewBox="0 0 30 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0 0.75V23.25H30V0.75H0ZM8.27875 10.6613L2.5 17.8013V5.97875L8.27875 10.6613ZM3.1025 3.25H26.8962L15 12.8913L3.1025 3.25ZM10.22 12.235L15 16.1087L19.7875 12.2287L26.8025 20.75H3.32875L10.22 12.235ZM21.73 10.655L27.5 5.97875V17.6637L21.73 10.655Z"
                            fill="#04172A" />
                    </svg>
                    <p>Messages</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg class="spacing" width="30" height="16" viewBox="0 0 30 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.4963 15.5H7.5025L7.5 14.7213C7.5 13.1475 7.625 12.2387 9.485 11.8088C11.59 11.3225 13.665 10.8888 12.6663 9.0475C9.70875 3.59375 11.8237 0.5 14.9987 0.5C18.1125 0.5 20.2812 3.47875 17.3312 9.04875C16.3625 10.8787 18.3638 11.3138 20.5125 11.81C22.375 12.24 22.4988 13.15 22.4988 14.7263L22.4963 15.5ZM28.51 12.7325C26.8975 12.36 25.3975 12.0337 26.1238 10.6612C28.335 6.48375 26.71 4.25 24.3738 4.25C22.7925 4.25 21.5637 5.27125 21.5637 7.155C21.5637 12.0338 24.3988 9.3675 24.3713 15.5H29.9975L30 14.9213C30 13.7388 29.9075 13.055 28.51 12.7325ZM0.0025 15.5H5.62875C5.6025 9.3675 8.43625 12.035 8.43625 7.155C8.43625 5.27125 7.2075 4.25 5.62625 4.25C3.29 4.25 1.665 6.48375 3.8775 10.6612C4.60375 12.035 3.10375 12.36 1.49125 12.7325C0.0925 13.055 0 13.7388 0 14.9213L0.0025 15.5Z"
                            fill="#04172A" />
                    </svg>
                    <p>Employers</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg class="spacing" width="30" height="16" viewBox="0 0 30 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.4963 15.5H7.5025L7.5 14.7213C7.5 13.1475 7.625 12.2387 9.485 11.8088C11.59 11.3225 13.665 10.8888 12.6663 9.0475C9.70875 3.59375 11.8237 0.5 14.9987 0.5C18.1125 0.5 20.2812 3.47875 17.3312 9.04875C16.3625 10.8787 18.3638 11.3138 20.5125 11.81C22.375 12.24 22.4988 13.15 22.4988 14.7263L22.4963 15.5ZM28.51 12.7325C26.8975 12.36 25.3975 12.0337 26.1238 10.6612C28.335 6.48375 26.71 4.25 24.3738 4.25C22.7925 4.25 21.5637 5.27125 21.5637 7.155C21.5637 12.0338 24.3988 9.3675 24.3713 15.5H29.9975L30 14.9213C30 13.7388 29.9075 13.055 28.51 12.7325ZM0.0025 15.5H5.62875C5.6025 9.3675 8.43625 12.035 8.43625 7.155C8.43625 5.27125 7.2075 4.25 5.62625 4.25C3.29 4.25 1.665 6.48375 3.8775 10.6612C4.60375 12.035 3.10375 12.36 1.49125 12.7325C0.0925 13.055 0 13.7388 0 14.9213L0.0025 15.5Z"
                            fill="#04172A" />
                    </svg>
                    <p>Employees</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg class="spacing" width="30" height="16" viewBox="0 0 30 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22.4963 15.5H7.5025L7.5 14.7213C7.5 13.1475 7.625 12.2387 9.485 11.8088C11.59 11.3225 13.665 10.8888 12.6663 9.0475C9.70875 3.59375 11.8237 0.5 14.9987 0.5C18.1125 0.5 20.2812 3.47875 17.3312 9.04875C16.3625 10.8787 18.3638 11.3138 20.5125 11.81C22.375 12.24 22.4988 13.15 22.4988 14.7263L22.4963 15.5ZM28.51 12.7325C26.8975 12.36 25.3975 12.0337 26.1238 10.6612C28.335 6.48375 26.71 4.25 24.3738 4.25C22.7925 4.25 21.5637 5.27125 21.5637 7.155C21.5637 12.0338 24.3988 9.3675 24.3713 15.5H29.9975L30 14.9213C30 13.7388 29.9075 13.055 28.51 12.7325ZM0.0025 15.5H5.62875C5.6025 9.3675 8.43625 12.035 8.43625 7.155C8.43625 5.27125 7.2075 4.25 5.62625 4.25C3.29 4.25 1.665 6.48375 3.8775 10.6612C4.60375 12.035 3.10375 12.36 1.49125 12.7325C0.0925 13.055 0 13.7388 0 14.9213L0.0025 15.5Z"
                            fill="#04172A" />
                    </svg>
                    <p>Admin</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg class="spacing" width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M15 2.5C21.8925 2.5 27.5 8.1075 27.5 15C27.5 21.8925 21.8925 27.5 15 27.5C8.1075 27.5 2.5 21.8925 2.5 15C2.5 8.1075 8.1075 2.5 15 2.5ZM15 0C6.71625 0 0 6.71625 0 15C0 23.2838 6.71625 30 15 30C23.2838 30 30 23.2838 30 15C30 6.71625 23.2838 0 15 0ZM16.5625 21.25C16.5625 22.1125 15.8638 22.8125 15 22.8125C14.1388 22.8125 13.4375 22.1125 13.4375 21.25C13.4375 20.3875 14.1388 19.6875 15 19.6875C15.8638 19.6875 16.5625 20.3875 16.5625 21.25ZM18.3037 8.7525C17.5437 7.9825 16.41 7.55875 15.115 7.55875C12.39 7.55875 10.6275 9.49625 10.6275 12.4963H13.1412C13.1412 10.6388 14.1775 9.98 15.0637 9.98C15.8562 9.98 16.6975 10.5063 16.7687 11.5125C16.8463 12.5712 16.2812 13.1088 15.5662 13.7887C13.8013 15.4675 13.7688 16.28 13.7762 18.1237H16.2825C16.2663 17.2937 16.32 16.62 17.4513 15.4012C18.2975 14.4888 19.35 13.3537 19.3713 11.6237C19.385 10.4688 19.0162 9.475 18.3037 8.7525Z"
                            fill="#04172A" />
                    </svg>
                    <p>FAQ's</p>
                </a>
            </div>
            <div class="col-12">
                <a href="#" class="d-flex flex-column align-items-center justify-content-center admin-sideNav-link">
                    <svg class="spacing" width="30" height="30" viewBox="0 0 30 30" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path
                                d="M14.9999 7.82861C11.0458 7.82861 7.82861 11.0458 7.82861 14.9999C7.82861 18.9541 11.0458 22.1713 14.9999 22.1713C18.9541 22.1713 22.1713 18.9541 22.1713 14.9999C22.1713 11.0458 18.9541 7.82861 14.9999 7.82861ZM14.9999 20.3784C12.0343 20.3784 9.62144 17.9656 9.62144 14.9999C9.62144 12.0343 12.0343 9.62144 14.9999 9.62144C17.9656 9.62144 20.3784 12.0343 20.3784 14.9999C20.3784 17.9656 17.9656 20.3784 14.9999 20.3784Z"
                                fill="#04172A" />
                            <path
                                d="M29.2941 11.5842L26.9884 11.0829C26.7879 10.4691 26.5395 9.8703 26.2463 9.29352L27.5228 7.30797C27.7508 6.9532 27.7007 6.48743 27.4026 6.18942L23.8106 2.59735C23.5126 2.29935 23.0468 2.24922 22.692 2.47719L20.7065 3.75366C20.1297 3.46046 19.5309 3.21213 18.9171 3.01163L18.4158 0.705872C18.3263 0.293884 17.9615 0 17.5399 0H12.4601C12.0385 0 11.6737 0.293884 11.5842 0.705872L11.0829 3.01163C10.4691 3.21213 9.8703 3.46046 9.29352 3.75366L7.30797 2.47719C6.9532 2.24922 6.48743 2.29935 6.18942 2.59735L2.59735 6.18942C2.29935 6.48743 2.24922 6.9532 2.47719 7.30797L3.75366 9.29352C3.46046 9.8703 3.21213 10.4691 3.01163 11.0829L0.705872 11.5842C0.293884 11.6739 0 12.0385 0 12.4601V17.5399C0 17.9615 0.293884 18.3261 0.705872 18.4158L3.01163 18.9171C3.21213 19.5309 3.46046 20.1297 3.75366 20.7065L2.47719 22.692C2.24922 23.0468 2.29935 23.5126 2.59735 23.8106L6.18942 27.4026C6.48743 27.7007 6.9532 27.7508 7.30797 27.5228L9.29352 26.2463C9.8703 26.5395 10.4691 26.7879 11.0829 26.9884L11.5842 29.2941C11.6737 29.7061 12.0385 30 12.4601 30H17.5399C17.9615 30 18.3263 29.7061 18.4158 29.2941L18.9171 26.9884C19.5309 26.7879 20.1297 26.5395 20.7065 26.2463L22.692 27.5228C23.0468 27.7508 23.5126 27.7009 23.8106 27.4026L27.4026 23.8106C27.7007 23.5126 27.7508 23.0468 27.5228 22.692L26.2463 20.7065C26.5395 20.1297 26.7879 19.5309 26.9884 18.9171L29.2941 18.4158C29.7061 18.3261 30 17.9615 30 17.5399V12.4601C30 12.0385 29.7061 11.6739 29.2941 11.5842ZM28.2072 16.8173L26.093 17.2769C25.7682 17.3476 25.5091 17.5921 25.4198 17.9121C25.1875 18.7454 24.8534 19.5513 24.4267 20.3073C24.2633 20.5968 24.2734 20.953 24.4533 21.2327L25.624 23.0537L23.0539 25.624L21.2327 24.4533C20.953 24.2734 20.5968 24.2633 20.3075 24.4267C19.5513 24.8534 18.7454 25.1875 17.9121 25.4198C17.5921 25.5091 17.3476 25.7682 17.2769 26.093L16.8173 28.2072H13.1827L12.7231 26.093C12.6524 25.7682 12.4079 25.5091 12.0879 25.4198C11.2546 25.1875 10.4487 24.8534 9.69269 24.4267C9.40315 24.2633 9.04701 24.2736 8.76732 24.4533L6.94633 25.624L4.37622 23.0537L5.54672 21.2327C5.72662 20.953 5.73692 20.5968 5.5735 20.3073C5.14687 19.5513 4.8127 18.7454 4.58015 17.9121C4.49089 17.5921 4.23203 17.3476 3.90724 17.2769L1.79283 16.8173V13.1827L3.90701 12.7231C4.2318 12.6524 4.49089 12.4079 4.58015 12.0879C4.81247 11.2546 5.14664 10.4487 5.57327 9.69269C5.73669 9.40315 5.72662 9.04701 5.54672 8.76732L4.37599 6.94633L6.94611 4.37599L8.76732 5.54672C9.04701 5.72662 9.40315 5.73669 9.69246 5.57327C10.4487 5.14664 11.2546 4.81247 12.0879 4.58015C12.4079 4.49089 12.6524 4.2318 12.7231 3.90701L13.1827 1.79283H16.8173L17.2769 3.90701C17.3476 4.2318 17.5921 4.49089 17.9121 4.58015C18.7454 4.81247 19.5513 5.14664 20.3073 5.57327C20.5968 5.73669 20.953 5.72639 21.2327 5.54672L23.0537 4.37599L25.6238 6.94633L24.4533 8.76732C24.2734 9.04701 24.2631 9.40315 24.4265 9.69269C24.8534 10.4487 25.1873 11.2546 25.4198 12.0879C25.5091 12.4079 25.768 12.6524 26.0928 12.7231L28.2072 13.1827V16.8173Z"
                                fill="#04172A" />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="30" height="30" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p>Settings</p>
                </a>
            </div>
        </div>
    </div>
</aside>
