<img class="dashHeaderDesign" src="/images/dashboard-header/dashboard-header-design-2.svg" alt="">
<img class="dashHeaderDesign" src="/images/dashboard-header/dashboard-header-design-1.svg" alt="">


<header id="header">
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light nav-top">
        <div class="d-flex align-items-center">
            <div class="d-lg-none">
                <button class="btn toggle-btn mr-2" onclick="openNav()" type="button" aria-expanded="false"
                    aria-label="Toggle sidenav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#">

                <span style="color: #4D49FF;">Talent</span> Haven

                <!-- If User hasn't completed their profile -->
                <div class="row">
                    <div class="col-12">
                        <span class="btn complete-profile-text text-wrap">
                            Your profile is incomplete. Click <span style="color: #4d49ff;">here</span> to complete it.
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="user-pane d-flex flex-wrap ml-auto" id="navbarSupportedContent">

            <ul class="navbar-nav">
                <li class="nav-item dropdown user-nav d-flex">

                    <!-- If Employee Dashboard show this -->
                    <a href="#" class="d-flex align-content-center pr-4">
                        <img src="/images/dashboard-header/briefcase.svg" alt="">
                    </a>

                    <!-- If there is a notification use this -->
                    <!-- <a href="#" class="d-flex align-content-center pr-4">
                        <img src="/images/dashboard-header/briefcase-notification.svg" alt="">
                    </a> -->
                    <!-- End -->

                    <!-- End -->

                    <!-- If there isn't any notification use this -->
                    <a href="#" class="d-flex align-content-center pr-2">
                        <img src="/images/dashboard-header/bell.svg" alt="">
                    </a>
                    <!-- End -->

                    <!-- If there is a notification use this -->
                    <!-- <a href="#" class="d-flex align-content-center pr-2">
                        <img src="/images/dashboard-header/bell-notification.svg" alt="">
                    </a> -->
                    <!-- End -->


                    <div class="d-flex align-items-center btn dropdown-toggle dropleft" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/Tobi.jpg" alt="Profile Image"
                            style="width: 50px; height: 50px; border-radius: 5px;">
                    </div>

                    <div class="dropdown-menu" style="position: absolute;" aria-labelledby="navbarDropdown">
                        <div class="nav-card">
                            <div class="nav-card-body">
                                <div class="d-flex justify-content-center mb-3">
                                    <img src="/images/Tobi.jpg" alt="Profile Image"
                                        style="width: 100px; height: 100px; border-radius: 50px;">
                                </div>
                                <h5 class="nav-card-title mb-1" href="#"> Jason Stratham</h5>
                                <h6 class="user-title mb-4"><img src="/images/dashboard-header/online.svg" alt=""
                                        class="pr-1"> Employer</h6>
                                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                                    <a href="#" class="nav-card-link text-center text-lg-left">View profile -></a>
                                    <a href="#" class="nav-card-link text-center text-lg-left ml-0 ml-lg-3">Edit profile
                                        -></a>
                                    <a href="/logout"
                                        class="btn-small nav-card-link text-center text-lg-left ml-0 ml-lg-3">Logout
                                        -></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>

<!-- <img class="dashHeaderDesign2" src="/images/dashboard-header/dashboard-header-design-4.svg" alt="">
<img class="dashHeaderDesign2" src="/images/dashboard-header/dashboard-header-design-3.svg" alt=""> -->