<img class="dashHeaderDesign" src="/images/dashboard-header/dashboard-header-design-2.svg" alt="">
<img class="dashHeaderDesign" src="/images/dashboard-header/dashboard-header-design-1.svg" alt="">


<header id="header">
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light nav-top">
        <div class="d-flex align-items-center">
            <div class="d-lg-none">
                <button class="btn toggle-btn mr-2" onclick="openNav()" type="button" aria-expanded="false"
                    aria-label="Toggle sidenav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#">

                <span style="color: #4D49FF;">Talent</span> Haven

                <!-- If User hasn't completed their profile -->
                <%if (currentUser.userRole !== 'ROL-SUPERADMIN') { %>
                <div class="row">
                    <div class="col-12">
                        <span class="btn complete-profile-text text-wrap">
                            Your profile is incomplete. Click <span class="btn" data-toggle="modal"
                                data-target="#completeProfileModal"
                                style="color: #4d49ff; vertical-align: initial; padding: 0; border: none; font-size: 14px;">here</span>
                            to complete it.
                        </span>
                    </div>
                </div>
                <% } %>
            </a>
        </div>

        <div class="user-pane d-flex flex-wrap ml-auto" id="navbarSupportedContent">

            <ul class="navbar-nav">
                <li class="nav-item dropdown user-nav d-flex">

                    <!-- If Employee Dashboard show this -->
                    <a href="#" class="d-flex align-content-center pr-4">
                        <img src="/images/dashboard-header/briefcase.svg" alt="">
                    </a>

                    <!-- If there is a notification use this -->
                    <!-- <a href="#" class="d-flex align-content-center pr-4">
                        <img src="/images/dashboard-header/briefcase-notification.svg" alt="">
                    </a> -->
                    <!-- End -->

                    <!-- End -->

                    <!-- If there isn't any notification use this -->
                    <a href="#" class="d-flex align-content-center pr-2">
                        <img src="/images/dashboard-header/bell.svg" alt="">
                    </a>
                    <!-- End -->

                    <!-- If there is a notification use this -->
                    <!-- <a href="#" class="d-flex align-content-center pr-2">
                        <img src="/images/dashboard-header/bell-notification.svg" alt="">
                    </a> -->
                    <!-- End -->


                    <div class="d-flex align-items-center btn dropdown-toggle dropleft" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/Tobi.jpg" alt="Profile Image"
                            style="width: 50px; height: 50px; border-radius: 5px;">
                    </div>

                    <div class="dropdown-menu" style="position: absolute;" aria-labelledby="navbarDropdown">
                        <div class="nav-card">
                            <div class="nav-card-body">
                                <div class="d-flex justify-content-center mb-3">
                                    <img src="/images/Tobi.jpg" alt="Profile Image"
                                        style="width: 100px; height: 100px; border-radius: 50px;">
                                </div>
                                <h5 class="nav-card-title mb-1" href="#"><%= currentUser.userName %></h5>
                                <%if(currentUser.userRole === 'ROL-EMPLOYER') { %>
                                    <h6 class="user-title mb-4"><img src="/images/dashboard-header/online.svg" alt=""
                                        class="pr-1"> Employer</h6>
                                <% } %>
                                <%if(currentUser.userRole === 'ROL-EMPLOYEE') { %>
                                    <h6 class="user-title mb-4"><img src="/images/dashboard-header/online.svg" alt=""
                                        class="pr-1"> Employee</h6>
                                <% } %>
                                <%if(currentUser.userRole === 'ROL-ADMIN') { %>
                                    <h6 class="user-title mb-4"><img src="/images/dashboard-header/online.svg" alt=""
                                        class="pr-1"> Admin</h6>
                                <% } %>
                                <%if(currentUser.userRole === 'ROL-SUPERADMIN') { %>
                                    <h6 class="user-title mb-4"><img src="/images/dashboard-header/online.svg" alt=""
                                        class="pr-1"> Superadmin</h6>
                                <% } %>
                                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                                    <a href="#" class="nav-card-link text-center text-lg-left">View profile -></a>
                                    <a href="#" class="nav-card-link text-center text-lg-left ml-0 ml-lg-3">Edit profile
                                        -></a>
                                    <a href="/logout"
                                        class="btn-small nav-card-link text-center text-lg-left ml-0 ml-lg-3">Logout
                                        -></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
</header>

<!-- <img class="dashHeaderDesign2" src="/images/dashboard-header/dashboard-header-design-4.svg" alt="">
<img class="dashHeaderDesign2" src="/images/dashboard-header/dashboard-header-design-3.svg" alt=""> -->


<!-- Complete Profile Modal -->

<div class="modal fade" style="padding: 25px" id="completeProfileModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-size" role="document">
        <div class="modal-content">
            <div class="row d-flex justify-content-center">
                <h5 class="mt-5" id="">Complete Your Profile</h5>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form action="">
                        <div class="nav-tab-progress d-flex justify-content-center">
                            <ul class="d-flex nav nav-pills mb-3" id="pills-tab" role="tablist"
                                style="position: relative;">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                        role="tab" aria-controls="pills-home" aria-selected="true">1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                        role="tab" aria-controls="pills-profile" aria-selected="false">2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                        role="tab" aria-controls="pills-contact" aria-selected="false">3</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="firstname">First Name</label>
                                            <input type="text" class="form-control modal-input" placeholder="John">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="lastname">Last Name</label>
                                            <input type="text" class="form-control modal-input" placeholder="Doe">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="gender">Gender</label>
                                            <select name="" id="" class="form-control modal-input">
                                                <option disabled selected>Select Gender</option>
                                                <option value="female">Female</option>
                                                <option value="male">Male</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="dob">Date of birth</label>
                                            <input type="date" class="form-control modal-input text-uppercase">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="email">Email</label>
                                            <input type="email" class="form-control modal-input text-lowercase"
                                                placeholder="johndoe@domain.com">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="phone">Phone</label>
                                            <input type="number" class="form-control modal-input"
                                                placeholder="+2348088800080">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="usertype">User Type</label>
                                            <select name="" id="" class="form-control modal-input">
                                                <option disabled selected>Select User Type</option>
                                                <option value="hng">HNG</option>
                                                <option value="non-hng">NON HNG</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="hngid">HNG ID</label>
                                            <input type="text" class="form-control modal-input" placeholder="HNG-01133">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="cv">CV/Resume</label>
                                            <input type="file" class="form-control modal-input">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="location">Location</label>
                                            <input type="text" class="form-control modal-input"
                                                placeholder="e.g Lagos, Nigeria">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="availability">Availability</label>
                                            <select name="" id="" class="form-control modal-input">
                                                <option disabled selected>Select Availability Status</option>
                                                <option value="on-site">On Site</option>
                                                <option value="remote">Remote</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="modal-label" for="track">Track</label>
                                            <select name="" id="" class="form-control modal-input">
                                                <option disabled selected>Select Your Track</option>
                                                <option value="design">Design</option>
                                                <option value="frontend">Frontend</option>
                                                <option value="backend">Backend</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade my-5" id="pills-contact" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <label for="" class="modal-label">Profile Picture</label>
                                    <input type="file" class="form-control">
                                    <small>Upload .jpg or .png square image. 512 x 512px resolution recommended</small>
                                </div>
                                <div class="form-group d-flex justify-content-center mt-5 mb-3">
                                    <button type="submit" class="btn modalBtn">Create Profile</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End of Complete Profile Modal -->