<aside>
    <div id="sidebar">

        <img class="closeNavBtn btn" style="width: 36%; height: auto;" onclick="closeNav()"
            src="/images/sidebar/back.png" alt="">

        <% if(sideNavRoute === 'dashboard'){ %>
        <a href="/employee/dashboard" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/dashboard-active.svg" alt="">
            <p class="sidenav-active">Dashboard</p>
        </a>
        <% } else{ %>
        <a href="/employee/dashboard" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/dashboard.svg" alt="">
            <p>Dashboard</p>
        </a>
        <% } %>

        <% if(sideNavRoute === 'portfolio'){ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/portfolio-active.svg" alt="">
            <p class="sidenav-active">Portfolio</p>
        </a>
        <% } else{ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/portfolio.svg" alt="">
            <p>Portfolio</p>
        </a>
        <% } %>

        <% if(sideNavRoute === 'messages'){ %>
        <a href="/employee/message" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/messages-active.svg" alt="">
            <p class="sidenav-active">Messages</p>
        </a>
        <% } else{ %>
        <a href="/employee/message" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/messages.svg" alt="">
            <p>Messages</p>
        </a>
        <% } %>

        <% if(sideNavRoute === 'employers'){ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/employee-employer-admin-active.svg" alt="">
            <p class="sidenav-active">Employers</p>
        </a>
        <% } else{ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/employee-employer-admin.svg" alt="">
            <p>Employers</p>
        </a>
        <% } %>

        <% if(sideNavRoute === 'support'){ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/support-faq-active.svg" alt="">
            <p class="sidenav-active">Support</p>
        </a>
        <% } else{ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/support-faq.svg" alt="">
            <p>Support</p>
        </a>
        <% } %>

        <% if(sideNavRoute === 'settings'){ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/settings-active.svg" alt="">
            <p class="sidenav-active">Settings</p>
        </a>
        <% } else{ %>
        <a href="#" class="d-flex flex-column align-items-center justify-content-center sideNav-link">
            <img class="spacing" src="/images/sidebar/settings.svg" alt="">
            <p>Settings</p>
        </a>
        <% } %>
    </div>
</aside>
