<footer>
    <div class="container footer-padding">
        <div class="row">
            <div class="col-12 col-md mb-4 d-flex flex-column align-items-center align-items-md-start">
                <h3 class="footer-title">Talent Haven</h3>
                <p class="footer-text mb-4 text-center text-md-left">
                    We are known for connecting top talents with top companies. We make great possibilities happen.
                </p>
                <div class="row">
                    <a href="#"><img class="pl-3 mr-4" src="/images/footer/footer-facebook.svg" alt=""></a>
                    <a href="#"><img class="pl-4 pl-md-0 mr-4" src="/images/footer/footer-instagram.svg" alt=""></a>
                    <a href="#"><img class="pl-3 pl-md-0 mr-4" src="/images/footer/footer-twitter.svg" alt=""></a>
                </div>
            </div>
            <div class="col-12 col-md mb-4 mr-md-5 d-flex flex-column align-items-center align-items-md-start">
                <h3 class="footer-title">Get In Touch</h3>
                <p class="footer-text">
                    Lagos NG, 17 Akinsanya St, Ojodu 100213, Ikeja
                </p>
                <p class="footer-text">
                    <a href="tel:+11234567890" class="footer-link">+1 12345 67890</a>
                </p>
                <p class="footer-text">
                    <a href="mailto:hello@talenthaven.io" class="footer-link">hello@talenthaven.io</a>
                </p>
            </div>
            <div class="col-6 col-md mb-4 ml-md-5 d-flex flex-column align-items-center align-items-md-start">
                <h3 class="footer-title">Explore</h3>
                <div>
                    <a href="#" class="footer-text footer-link">Home</a>
                </div>
                <div>
                    <a href="#" class="footer-text footer-link">About</a>
                </div>
                <div>
                    <a href="#" class="footer-text footer-link">Directories</a>
                </div>
                <div>
                    <a href="#" class="footer-text footer-link">Contact Us</a>
                </div>
                <div>
                    <a href="#" class="footer-text footer-link">FAQ</a>
                </div>
            </div>
            <div class="col-6 col-md mb-4 d-flex flex-column align-items-center align-items-md-start">
                <h3 class="footer-title">Legal</h3>
                <p class="footer-text">
                    <a href="#" class="footer-link">Privacy Policy</a>
                </p>
                <p class="footer-text">
                    <a href="#" class="footer-link">Terms & Conditions</a>
                </p>
            </div>
        </div>

        <hr class="footer-divider">

        <div class="">
            <p class="footer-copyright">
                2020 Tech Haven &copy; Copyright All rights reserved
            </p>
        </div>
    </div>
</footer>