<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Boiler Plate CSS -->
<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">

<!-- Dashboard CSS -->
<link rel="stylesheet" href="/public/stylesheets/dashboardSidenav.css">
<link rel="stylesheet" href="/public/stylesheets/dashboardHeader.css">

<!-- Landing Page CSS -->
<link rel="stylesheet" href="/stylesheets/header.css">
<link rel="stylesheet" href="/stylesheets/footer.css">

<!-- Bootstrap JS -->
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
<script src="/public/javascripts/popper.js"></script>

<!-- Dashboard JS -->
<script src="/public/javascripts/dashboardNav.js"></script>
<script src="/public/javascripts/dashboardSideNav.js"></script>

<title>TalentPool</title>