<header>
    <img class="navDesign d-none d-lg-flex" src="/images/landing-page-nav/navDesign2.svg" alt="">
    <img class="navDesign d-none d-lg-flex" src="/images/landing-page-nav/navDesign1.svg" alt="">

    <nav class="navbar navbar-expand-lg nav-bg">
        <div class="container">
            <a class="navbar-brand" href="#"><span style="color: #4D49FF;">Talent</span> Haven</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-padding ml-auto">
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link nav-link-black" href="#">Home</a>
                    </li>
                    <li class="nav-item mr-lg-4 ">
                        <a class="nav-link nav-link-black" href="#">About Us </a>
                    </li>
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link nav-link-black" href="#">Directories </a>
                    </li>
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link nav-link-black" href="#">FAQ </a>
                    </li>
                    <li class="nav-item mr-lg-4">
                        <a class="nav-link nav-link-black" href="#">Contact Us </a>
                    </li>
                    <li class="nav-item nav-margin-signIn">
                        <a class="nav-link nav-link-white" href="#">Sign In -></a>
                    </li>
                    <li class="nav-item nav-margin-signUp">
                        <a class="nav-link nav-link-white" href="#">Sign Up -></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>