body{
  font-family: "Manrope", Manrope, sans-serif !important;
}

.add-admin{
  width:90%;
}

.add-admin-btn{
  /* width: 13%; */
  background: #4D49FF;
  color: white;
  /* height: 40px; */
  z-index: 50;
  font-size: 16px;
}

.add-admin-btn:hover{
  cursor: pointer;
  color: white;
  background: rgb(27, 23, 255);

}

.custom-trash-icon,
.custom-lock-icon{
  font-size: 1.5em;
}

.custom-trash-icon:hover,
.custom-lock-icon:hover{
  cursor: pointer;
}

div.dataTables_wrapper div.dataTables_info{
  display: none;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  font-weight: 600;
}

.table th, .table td {
  padding: 0.60rem;
  vertical-align: top;
  border-top: 1px solid #DEE2E6;
}

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  display: none !important;
}

thead{
  background: #4D49FF;
  border-radius: 15px 15px 0px 0px;
  color: white; 
}

div.col-sm-12.col-md-6{
  width: 80%;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: left !important;
  width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input{
  width: 90% !important;
}

.table-striped tbody tr{
  background: #fff !important;
}

#example_paginate{
  width: 84%;
  margin-right: none;
}

#example_length{
  margin-left: 2em;
}

@media only screen and (max-width: 600px){
  .custom-header{
    padding: 0 7px !important;
  }
}