body{
  font-family: "Manrope", Manrope, sans-serif !important;
}

.add-admin{
  width:90%;
}

.add-admin-btn{
  background: #4D49FF;
  color: white;
  z-index: 50;
  font-size: 16px;
}

.add-admin-btn:hover{
  cursor: pointer;
  color: white;
  background: rgb(27, 23, 255);

}

.custom-trash-icon,
.custom-lock-icon{
  font-size: 1.5em;
}

.custom-trash-icon:hover,
.custom-lock-icon:hover{
  cursor: pointer;
}

.custom-button{
  display: inline-block;
  text-align: center;
  color: #fff;
  margin: auto;
  margin-bottom: 2em;
  background: #4D49FF;
  box-shadow: 0px 5px 25px rgba(77, 73, 255, 0.25);
  border-radius: 5px;
}

.custom-button:hover{
  color:#fff;
  background: rgb(43, 39, 255);
}

div.dataTables_wrapper div.dataTables_info{
  display: none;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
  font-weight: 600;
}

.table th, .table td {
  padding: 0.60rem;
  vertical-align: top;
  border-top: 1px solid #DEE2E6;
}

table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  display: none !important;
}

thead{
  background: #4D49FF;
  border-radius: 15px 15px 0px 0px;
  color: white; 
}

div.col-sm-12.col-md-6{
  width: 80%;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: left !important;
  width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input{
  width: 90% !important;
}

.table-striped tbody tr{
  background: #fff !important;
}

#example_paginate{
  width: 84%;
  margin-right: none;
}

#example_length{
  margin-left: 2em;
}

div.dataTables_wrapper {
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow:
  0 12.8px 12.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 10.3px 17.9px rgba(0, 0, 0, 0.072),
  0 10.8px 10.4px rgba(0, 0, 0, 0.086),
  0 2px 2px rgba(0, 0, 0, 0.12) !important;
}

@media only screen and (max-width: 600px){
  .custom-header{
    padding: 0 7px !important;
  }
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    width: 70% ; /* New width for default modal */
    margin: auto; 
  }
}
