html {
    height: 100%;
}
body {
    min-height: calc(100% - 110px);
    max-height: calc(100% - 110px);
    height: calc(100% - 110px);
}
.admin-dashboard-verification-container-pt {
    /*width: 100%;*/
    height: 100%;
    width: calc(100% - 110px);
    margin-left: auto;
    background-color: white;
}
.verification-table-container {
    padding: .5em 1.7em;
}
.verification-table-container .employersTable {
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .verification-table-container {
        width: 85%;
        margin: auto;
        padding: .8em .4em;
    }
}
@media screen and (max-width: 1055px) {
    .verification-table-container {
        width: 75%;
        margin: auto;
        padding: .8em .4em;
        margin-left: 65px;
    }
    .verification-table-container .employersTable {
        width: 600px;
    }
}  
@media screen and (max-width: 992px) {
    .admin-dashboard-verification-container-pt {
        width: 100%;
        margin-left: 0;
        background-color: white;
    }
    .container {
        max-width: 100%;
    }
    .verification-table-container {
        width: 70%;
        padding: .8em 0; 
        margin-left: 35px;
    }
    .verification-table-container .employersTable {
        width: 100%;
    }
} 
@media screen and (max-width: 992px) {
    .verification-table-container {
        max-width: 80%;
        overflow-x: scroll;
        padding: .8em 0; 
        margin-left: 15px;
    }
    .verification-table-container .employersTable {
        width: 100%;
    }
} 