* {
  margin: 0;
  padding: 0;
}

#sidebar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  /* background: rgba(73, 190, 255, 0.05); */
  background: #F6FCFF;
  transition: all 0.5s ease-in-out;
  padding-top: 144px;
}

#sidebar.active {
  left: 0px;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 146px;
  top: 20px;
  cursor: pointer;
}

#sidebar span {
  display: block;
  width: 30px;
  height: 5px;
  background: rgb(68, 67, 67);
  margin: 5px 0px;
}

.sideNav-link,
.sideNav-link:hover {
  margin-bottom: 20px;
  text-decoration: none;
}

.admin-sideNav-link,
.admin-sideNav-link:hover {
  margin-bottom: 1px;
  text-decoration: none;
}

.sideNav-link p,
.admin-sideNav-link p {
  font-weight: 600;
  font-size: 12px;
  color: #04172a;
}

.spacing {
  margin-bottom: 9.875px;
}

a,
a:hover,
a:active,
a:focus {
  color: #04172a;
}

a:hover {
  text-decoration: none;
}

.closeNavBtn {
  position: absolute;
  right: 37px;
  top: 65px;
}

@media screen and (max-width: 992px) {
  #sidebar {
    left: -110px;
  }
}
