.row{
  padding: 28px 0px 0px 30px;
}

.row p{
  font-weight: bold;
}

.wrap{
  max-width: 1440px;
}
.row .card{
  border: 1px solid rgba(4, 23, 42, 0.1);
  height: 200px;
  width: 336px;
}
.row .card .line1{
  border-right: 1px solid black;
  width: 50px;
  height: 79px;
  position: relative;
  left: 110px;
  top: 50px;
}

.row .card .line2{
  border-bottom: 1px solid black;
  width: 100px;
  position: relative;
  left: 108px;
  top: 9px;
}

.row .card .text{
  position: relative;
  top: 61px;
  left: 11px;
  color: #04172A;
}

.row .card .employee img{
  width: 40px;
  border-radius: 50px;
  left: 13px;
  top: 14px;
  position: relative;
}

/* .row .card .employee .employee-border{
  border-bottom: 1px solid rgba(4, 23, 42, 0.1);
  position: relative;
  width: 336px;
  right: -170px;
} */
.row .card .employee .employee-details{

  margin-left: 62px;
  margin-top: -26px;
  top: 15px;
  /* left: 67px;
  bottom: 40px; */
  font-size: xx-small;
  border-bottom:1px solid rgba(4, 23, 42, 0.1);
  border-width: 1px;
}

.row .card .employee .employee-details #right-arrow{
  position: relative;
  left: 233px;
  bottom: 22px;
}

.card-footer text{
  margin-left: 65px;
  position: relative;
  top: -3px;
}
.card-footer{
  background-color: #ffffff;
  margin-top: 27px;
  position: fixed;
}

.bottom .row{
  padding: 40px 0px 0px 30px;
}
.bottom p{
  font-weight: bold;
  position: relative;
  top: 30px;
  left: 80px;
}

.bottom #piechart{
  position: relative;
  left: 9px;
  top: 15px;
  /* border: 1px solid rgba(4, 23, 42, 0.1); */
}

.bottom .card{
  width: 300px;
  height: 170px;
}
.bottom .card .employee .employee-details{

  margin-left: 52px;
  margin-top: -29px;
  top: 15px;
  /* left: 67px;
  bottom: 40px; */
  font-size: xx-small;
  border-bottom:1px solid rgba(4, 23, 42, 0.1);
  border-width: 1px;
}
.bottom .card .employee .employee-details #right-arrow{
  position: relative;
  left: 219px;
  bottom: 22px;
}
.bottom .card .text{
  position: relative;
  top: 61px;
  left: 20px;
  color: #04172A;
}
.bottom{
  position: relative;
  left: 17px;
}
.bottom .card .employee p{
  top: 6px;
  left: 0px;
}

.bottom .card .employee img{
  width: 40px;
  border-radius: 50px;
  left: 9px;
  top: 14px;
  position: relative;
}

