#employerDashboard {
  padding-top: 105px;
}
@media screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

#employerDashboard .card {
  position: relative;
  border: 1px solid rgba(4, 23, 42, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  height: 235px;
  max-height: 235px;
}

#employerDashboard .empty-card {
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

#employerDashboard .empty-card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #04172a;
}

#employerDashboard .dashboard-header {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 32px;
  color: #04172a;
}

#employerDashboard .card-user-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #04172a;
}
#employerDashboard .card-user-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(4, 23, 42, 0.8);
}

#employerDashboard .card-list {
  padding-bottom: 54px;
}

#employerDashboard .list-group {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#employerDashboard .list-group::-webkit-scrollbar {
  display: none;
}

#employerDashboard .list-group-item {
  background-color: transparent !important;
}

#employerDashboard .see-all {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 54px;
  background: #ffffff;
  border-top: 1px solid rgba(4, 23, 42, 0.1);
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
}

#employerDashboard .see-all-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #04172a;
}
