html, body {
  overflow-x: hidden;
}

body{
  height: 100vh;
  position: relative;
  font: "Manrope", Manrope, sans-serif !important;
}

section{
  padding: 5px !important;
  height: calc(100vh - 150px) !important;
}

.card{
  background: #FFFFFF;
  border: 1px solid rgba(4, 23, 42, 0.1) !important;
  box-sizing: border-box;
  border-radius: 10px;
}

.card .name{
  font-size: 16px;
}

.card-portfolio li{
  list-style-type: none;
  margin-bottom: .2em !important;
}

ul.card-portfolio{
  padding-left: 0 !important;
}

.custom-card{
  border:1px solid rgba(4, 23, 42, 0.1) !important;
  
  min-height: 180px;
  width: 100%;
}

.custom-card-body{
  padding: 0 !important;
}

.custom-card-body .list-group{
  height: 134px !important;
}

.fa-pencil{
  cursor: pointer;
}

.email-icon,
.location-icon,
.phone-icon,
.twitter-icon,
.behance-icon,
.dribbble-icon,
.instagram-icon,
.arrow-icon{
  margin-right: .4em;
  font-size: 20px;
  cursor: pointer;
}

h1.card-title{
  color: #04172A;
  font-weight: bolder !important;
  font-size: 2.5em !important;
}

h2.lead{
  color: #04172A;
  font-weight: bolder !important;

}

.fa{
  min-width: 1.2em !important;
}


.list-group .list-group-item{
  height: 64px;
}

.name-skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: .5em;
}

.name-skill .skill{
  font-size: 13px;
}

.profile-name{
  display: flex;
  /* margin-bottom: 5px; */
}

.profile-picture{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("../images/rsz_employee-dashboard.png");
}

.progress{
  height: .3em;
  background: #E6E8EA;
  margin-bottom: .4em;
}

.progress-bar{
  background: #4D49FF;
}

.see-employers{
  font-size: 16px;
  font-weight: bold;
  border-top:1px solid rgba(4, 23, 42, 0.1);
  
}


@media only screen and (max-width: 768px) {
  body{
    overflow-y: auto !important;
  }

  .custom-card,
  .custom-card-2{
    margin-bottom: 2em;
    width: 100%;
  }

  .container{
    margin-left: auto;
    width: 80%;
  }

  .progress{
    margin-bottom: .5em;
  }
}

@media only screen and (max-width: 992px) {
  section{
    margin-left: auto !important;
  }
}

@media only screen and (max-width: 1001px) {
  .card{
    font-size: .8em !important;
  }
  .email-icon,
  .location-icon,
  .phone-icon,
  .twitter-icon,
  .behance-icon,
  .dribbble-icon,
  .instagram-icon{
  margin-right: .1em;
  font-size: 15px;
}
}
