* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  #employeeDashboard .container {
    width: 80%;
  }
}

#employeeDashboard {
  padding-top: 140px;
}

#employeeDashboard .card {
  background: #ffffff;
  border: 1px solid rgba(4, 23, 42, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

#employeeDashboard .card1 {
  height: 160px !important;
  max-height: 160px !important;
}

#employeeDashboard .card-number {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 48px;
  text-align: center;
  color: #04172a;
}

#employeeDashboard .card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #04172a;
}

#employeeDashboard .card2 {
  height: 315px !important;
  max-height: 315px !important;
}

#employeeDashboard .card3 {
  padding: 20px 20px !important;
}

#employeeDashboard .see-all {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 54px;
  background: #ffffff;
  border-top: 1px solid rgba(4, 23, 42, 0.1);
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
}

#employeeDashboard .see-all-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #04172a;
}

#employeeDashboard .card-list {
  padding-bottom: 54px;
}

#employeeDashboard .list-group {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#employeeDashboard .list-group::-webkit-scrollbar {
  display: none;
}

#employeeDashboard .dashboard-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #04172a;
}

#employeeDashboard .card-employer-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #04172a;
}

#employeeDashboard .card-employer-base,
#employeeDashboard .card-employer-state {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(4, 23, 42, 0.8);
}

#employeeDashboard .list-group-item {
  background-color: transparent !important;
}

#employeeDashboard .progress {
  height: 0.3em;
  background: #e6e8ea;
  margin-bottom: 0.4em;
}

#employeeDashboard .progress-bar {
  background: #4d49ff;
}

#employeeDashboard .card-skill {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #04172a;
}
