footer {
  background: #04172a;
  color: #ffffff;
}

.footer-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.footer-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.footer-link {
  color: #ffffff !important;
  text-decoration: none !important;
}

.footer-padding {
  padding-top: 40px;
  padding-bottom: 5px;
}

.footer-divider {
  background: #ffffff;
}

.footer-copyright {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
