* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Manrope", Manrope, sans-serif;
}

.landing-page-top {
    min-height: 100vh;
    background: #F6FCFF;
    width: 100%;
}

.landing-page-top .top-section-description {
    padding: 5em 6em;
    min-height: 80vh;
}

.top-section-description .description-container {
    padding: 1em 8em;
}

.top-section-description .description-container .left {
    padding: 35px 10px 35px 2px;
}

.top-section-description .description-container .left h1 {
    color: #04172A;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 2px;
}
.top-section-description .description-container h1 span {
    color: #4D49FF;
}
.top-section-description .description-container .left .what-we-do {
    font-size: 16px;
    padding: 20px 0;
}
.top-section-description .description-container .sign-up-out {
    height: 43px;
    font-size: 16px;
    width: 92%;
}
.top-section-description .description-container .sign-up-out input {
    height: 43px;
    font-size: 16px;
}
.top-section-description .description-container .sign-up-out span {
    background: #4D49FF;
    border-radius: 5px;
    color: white;
    margin-left: -3px;
    z-index: 3;
    cursor: pointer;
}

.top-section-description .description-container .right {
    padding: 10px 2px 10px 40px;
    height: 44vh;
}
.top-section-description .description-container .right .talents-card-outer {
    margin-bottom: 1.7em;
}
.top-section-description .description-container .right .talents-card {
    padding: 10px 6px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(4, 23, 42, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 100px;
    height: 100px;
}
.top-section-description .description-container .right .talents-card .blob-outer {
    padding: 14px 8px 14px 16px;
}
.top-section-description .description-container .right .talents-card .blob-inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: #C4C4C4;
}
.top-section-description .description-container .right .talents-card .talents-details {
    padding: 17px 0;
}
.top-section-description .description-container .right .talents-card .talents-details .name {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 2px 0;

    color: #04172A;
}
.top-section-description .description-container .right .talents-card .talents-details .track {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #04172A;
}

.landing-page-top .top-section-footer {
    padding: 3.9em 16px;
    min-height: 125px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
.landing-page-top .top-section-footer .trusted-companies {
    padding-left: 8.2em;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #04172A;
}



/**** TOP SECTION MOBILE AND TAB RESPONSIVENESS ****/

@media screen and (max-width: 1350px) {
    .landing-page-top .top-section-description {
        padding: 5em 4em;
    }

    .top-section-description .description-container {
        padding: 1em 6em;
    }
}
@media screen and (max-width: 990px) {
    .landing-page-top .top-section-description {
        padding: 5em 2em;
    }

    .top-section-description .description-container {
        padding: 1em 4em;
    }
}
@media screen and (max-width: 767px) {
    .landing-page-top .top-section-description {
        padding: 4em 5em;
    }

    .top-section-description .description-container {
        padding: 1em 3em;
    }
    .top-section-description .description-container .right {
        padding: 10px 2px;
        height: 44vh;
    }
}
@media screen and (max-width: 650px) {
    .landing-page-top .top-section-description {
        padding: 4em 3em;
    }
}
@media screen and (max-width: 450px) {
    .landing-page-top .top-section-description {
        padding: 4em 1em;
    }
}
@media screen and (max-width: 390px) {
    .landing-page-top .top-section-description {
        padding: 4em 1em;
    }
    .top-section-description .description-container {
        padding: 1em 2em;
    }
}

/**** TOP SECTION MOBILE AND TAB RESPONSIVENESS ENDS ****/
