* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Manrope", Manrope, sans-serif;
}

.landing-page-top {
    min-height: 100vh;
    background: #F6FCFF;
    width: 100%;
}
.blob-on-sign-in {
    width: 300px;
    position: absolute;
    right: 0;
    margin: -120px -100px 0 0;
}
.blob-footer-top {
    width: 35px;
    height: 35px;
    background: #49BEFF;
    position: absolute;
    right: 0;
    border-radius: 10px;
    transform: rotate(45deg);
    margin: -40px 120px 60px 0;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.blob-footer-top:hover {
    transition: .2s ease-in-out;
    width: 42px;
    height: 42px;
}

/*ANIMATION INFINITE ROTATE*/

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/*ANIMATION INFINITE ROTATE END*/

.blob-on-sign-in img {
    width: inherit;
}

.landing-page-top .top-section-description {
    padding: 5em 6em 2em 6em;
    min-height: 80vh;
}

.top-section-description .description-container {
    padding: 1em 8em;
}

.top-section-description .description-container .left {
    padding: 35px 10px 35px 2px;
}

.top-section-description .description-container .left h1 {
    color: #04172A;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 2px;
}
.top-section-description .description-container h1 span {
    color: #4D49FF;
}
.top-section-description .description-container .left .what-we-do {
    font-size: 16px;
    padding: 20px 0;
}
.top-section-description .description-container .sign-up-out {
    height: 43px;
    font-size: 16px;
    width: 92%;
}
.top-section-description .description-container .sign-up-out input {
    height: 43px;
    font-size: 16px;
}
.top-section-description .description-container .sign-up-out span {
    background: #4D49FF;
    border-radius: 5px;
    color: white;
    margin-left: -3px;
    z-index: 3;
    cursor: pointer;
}

.top-section-description .description-container .right {
    padding: 10px 2px 10px 40px;
}
.top-section-description .description-container .right .talents-card-outer {
    margin-bottom: 1.7em;
}
.top-section-description .description-container .right .talents-card {
    padding: 10px 6px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(4, 23, 42, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 100px;
    height: 100px;
}
.top-section-description .description-container .right .talents-card .blob-outer {
    padding: 14px 8px 14px 16px;
}
.top-section-description .description-container .right .talents-card .blob-inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: #C4C4C4;
}
.top-section-description .description-container .right .talents-card .talents-details {
    padding: 17px 0;
}
.top-section-description .description-container .right .talents-card .talents-details .name {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 2px 0;

    color: #04172A;
}
.top-section-description .description-container .right .talents-card .talents-details .track {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #04172A;
}

.landing-page-top .top-section-footer {
    padding: 3.3em 16px 2.6em 16px;
    min-height: 125px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}
.landing-page-top .top-section-footer .trusted-companies {
    padding-left: 8.2em;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #04172A;
}
.landing-page-top .top-section-footer .trusted-companies .company-logo {
    padding-right: 3em;
}
.landing-page-top .top-section-footer .trusted-companies .company-logo img {
    width: inherit;
}

.landing-page-top-previous-clients {
    min-height: 100vh;
    padding: 4.5em 0 2em 0;
    width: 85%;
    margin: auto;
}
.landing-page-top-previous-clients h2.title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #04172A;
    padding: 0 1.2em;
}
.landing-page-top-previous-clients .slider .arrow-pc {
    cursor: pointer;
}
.landing-page-top-previous-clients .slider .arrow-pc:hover {
    cursor: pointer;
    background: #f8f9fa;
    transition: .3s ease-in-out;
}
.landing-page-top-previous-clients .slider .arrow-pc img {
    padding: 8em 0;
}
.landing-page-top-previous-clients .slider .col-sm-1 {
    flex: 0 0 5.333333%;
    max-width: 5.333333%;
}
.landing-page-top-previous-clients .slider .col-sm-10 {
    flex: 0 0 88.333333%;
    max-width: 88.333333%;
}
.landing-page-top-previous-clients .feedback-card-outer {
    width: 100%;
    padding: 14px;
    display: inline-block;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card {
    width: 100%;
    min-height: 260px;
    max-height: 260px;

    background: #FFFFFF;
    border: 1px solid rgba(4, 23, 42, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 0;
}

.landing-page-top-previous-clients .feedback-card-outer .feedback-card h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #04172A;
    padding: 0 14px;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .content {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 4px 18px;
    opacity: 0.8;
    min-height: 118px;
    max-height: 118px;
    overflow: hidden;

    color: #04172A;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .footer,
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .header {
    padding: 0 18px;
}

.landing-page-top-previous-clients .feedback-card-outer .feedback-card .blob-outer {
    padding-bottom: 4px;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .blob-inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: #C4C4C4;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .talents-details {
    padding: 4px 0;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .talents-details .name {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 2px 0;

    color: #04172A;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .talents-details .track {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #04172A;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .content .recent-work {
    display: block;
    padding: 4px 0;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .view-profile-footer {
    text-align: center;
    height: 50px;
    background: #4D49FF;
    color: white;
    border-radius: 0 0 9px 10px;
    padding: 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.landing-page-top-previous-clients .feedback-card-outer .feedback-card .talent-profile {
    min-height: 128px;
    max-height: 128px;
}



/**** TOP SECTION MOBILE AND TAB RESPONSIVENESS ****/

@media screen and (max-width: 1350px) {
    .landing-page-top .top-section-description {
        padding: 5em 4em;
    }

    .top-section-description .description-container {
        padding: 1em 6em;
    }
}
@media screen and (max-width: 990px) {
    .landing-page-top .top-section-description {
        padding: 5em 2em;
    }

    .top-section-description .description-container {
        padding: 1em 4em;
    }
}
@media screen and (max-width: 767px) {
    .landing-page-top .top-section-description {
        padding: 4em 5em;
    }

    .top-section-description .description-container {
        padding: 1em 3em;
    }
    .top-section-description .description-container .right {
        padding: 10px 2px;
        min-height: 44vh;
    }
    .landing-page-top .top-section-footer .trusted-companies {
        padding-left: 3.2em;
    }
    .landing-page-top .top-section-footer .trusted-companies .company-logo {
        padding-right: 3em;
    }
    .landing-page-top-previous-clients h2.title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #04172A;
        padding: 0.3em 1em;
    }
    .landing-page-top-previous-clients .feedback-card-outer .feedback-card .content {
        min-height: 118px;
        max-height: none;
    }
    .landing-page-top-previous-clients .feedback-card-outer .feedback-card {
        width: 100%;
        min-height: 260px;
        max-height: none;
    }
    .top-section-description .description-container .left {
        padding: 0 10px 35px 2px;
    }

    .top-section-description .description-container .left h1 {
        color: #04172A;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 2px;
    }
    .blob-footer-top {
        width: 35px;
        height: 35px;
        margin: -20px 40px 60px 0;
    }
}
@media screen and (max-width: 650px) {
    .landing-page-top .top-section-description {
        padding: 4em 3em;
    }
    .landing-page-top .top-section-footer .trusted-companies {
        padding-left: 2.2em;
    }
    .landing-page-top .top-section-footer .trusted-companies .company-logo {
        padding-right: 3em;
    }
    .landing-page-top-previous-clients .slider .arrow-pc {
        display: none;
    }
    .landing-page-top-previous-clients .slider {
        padding-left: 3em;
    }
}
@media screen and (max-width: 450px) {
    .landing-page-top .top-section-description {
        padding: 4em 1em;
    }
}
@media screen and (max-width: 390px) {
    .landing-page-top .top-section-description {
        padding: 4em 1em;
    }
    .top-section-description .description-container {
        padding: 1em 2em;
    }
}

/**** TOP SECTION MOBILE AND TAB RESPONSIVENESS ENDS ****/
